<md-toolbar ng-controller="FooterCtrl" style="position:fixed; top:0;">
	<div class="md-toolbar-tools">
		<a href="/" hide-sm><h2>{{title}}</h2></a>
				<span ng-if="state.user">
					<a ng-href="/feed">
						<md-button class="md-icon-button">
							<md-icon md-svg-icon="img/apps.svg">
								<md-tooltip>View feed</md-tooltip>
							</md-icon>
						</md-button>
					</a>

					<a ng-href="/search">
						<md-button class="md-icon-button">
							<md-icon md-svg-icon="img/account-search.svg">
								<md-tooltip>Search users</md-tooltip>
							</md-icon>
						</md-button>
					</a>

				</span>

		<span flex></span>
		<md-fab-speed-dial hide-sm md-open="false" md-direction="left" class="md-fling">
			<md-fab-trigger>
				<md-button class="md-icon-button" aria-label="Share">
					<!--<md-tooltip>-->
					<!--Share-->
					<!--</md-tooltip>-->
					<md-icon md-svg-icon="img/share_white.svg">
						<md-tooltip>Share this</md-tooltip>
					</md-icon>
				</md-button>
			</md-fab-trigger>
			<md-fab-actions>
				<md-button aria-label="Twitter" class="md-fab md-raised md-mini">
					<md-icon md-svg-src="img/twitter-box.svg" aria-label="Twitter" style="color:#8c8c8c;"></md-icon>
				</md-button>
				<md-button aria-label="Facebook" class="md-fab md-raised md-mini">
					<md-icon md-svg-src="img/facebook-box.svg" aria-label="Facebook" style="color:#8c8c8c;"></md-icon>
				</md-button>
			</md-fab-actions>
		</md-fab-speed-dial>

		<md-button class="md-icon-button" aria-label="More" ng-click="showAlert($event)">
			<!--<md-tooltip>-->
			<!--What is this?-->
			<!--</md-tooltip>-->
			<md-icon md-svg-icon="img/help_white.svg" class="s24">
				<md-tooltip>What is this?</md-tooltip>
			</md-icon>
		</md-button>


		<div ng-if="!state.user">

			<md-button class="md-raised"
					   hide-sm
					   ng-click="signIn()"
					   style="color:black;">Sign in to Instagram
			</md-button>

			<md-button class="md-icon-button"
					   hide-gt-sm
					   ng-click="signIn()">
				<md-icon md-svg-icon="img/login.svg">
					<md-tooltip>
						Sign in to Instagram
					</md-tooltip>
				</md-icon>
			</md-button>
		</div>

		<a ng-href="/profile/{{state.user.username}}">

			<md-button
					hide-sm
					ng-if="state.user">{{state.user.username}}
			</md-button>

			<md-button class="md-icon-button"
					   hide-gt-sm
					   ng-if="state.user">
				<md-icon md-svg-icon="img/account-circle.svg">
					<md-tooltip>View profile</md-tooltip>
				</md-icon>
			</md-button>
		</a>

		<md-button class="md-icon-button"
				   ng-click="signout()"
				   ng-if="state.user">
			<md-icon md-svg-icon="img/logout.svg">
				<md-tooltip>
					Sign out
				</md-tooltip>
			</md-icon>
		</md-button>


	</div>
</md-toolbar>